<div class="list" ng-controller='TaskListController'>	
    <select ng-model="option" ng-options="o.name for o in options">
        <option value= {{o}}>{{o}}</option>
    </select>
    <div class='row' style="margin-top:10px">
        <div class='columns small-12 medium-4'>
            <form style="text-align:center;">
                <input type="radio" value=0 ng-model="sortTaskStatus">All &nbsp&nbsp&nbsp&nbsp
                <input type="radio" value=1 ng-model="sortTaskStatus">Completed &nbsp&nbsp&nbsp&nbsp
                <input type="radio" value=2 ng-model="sortTaskStatus">Pending
            </form>
        </div>
        <div class='columns small-12 medium-4'>
            <form style="text-align:center;">
                <input type="radio" value=1 ng-model="sortTaskOrder">Asscending
                <input type="radio" value=-1 ng-model="sortTaskOrder">Descending
            </form>
        </div>
        <div class='columns small-12 medium-4'>
            showing {{begin}} to {{begin+10}} from {{count}} tasks
        </div>
    </div>
    <div class='row' style="margin-top:10px">
        <div class='columns small-8 medium-9'>
            <div class='columns small-6'>
                <a ng-click = "begin = (begin>=10) ? begin-10 : begin", class = "button small right" ng-disabled="begin<10">PREV</a>
            </div>
            <div class='columns small-6'>
                <a ng-click = "begin = (begin+10>=count) ? begin :begin+10", class = "button small left" ng-disabled="begin+10>=count">NEXT</a>
            </div>
            <div class='columns small-12'>
            <ul>
                <li ng-repeat="task in tasks"  ng-class-odd="'odd'" ng-class-even="'even'" ng-click = "showDetail(task)">
                    <div class="row">
                        <div class='columns small-9'>
                            <p>
                                Task: {{task.name}} <br>
                                Assigned To: {{task.assignedUserName}}
                            </p> 
                        </div>
                        <div class='columns small-3'>
                            <a ng-click = "delete(task)", class = "button tiny alert right">Delete</a>
                        </div>
                    </div>
                </li>
            </ul>
            </div>
        </div>
        <div class='columns small-3 medium-3'>
            <div class="editorAccessor" ng-controller='TaskEditController'>
            <a  href="#/taskadd", class = "button left" ng-click="addTask()">Add Task</a>
            </div>
        </div>
</div>