<div class="list" ng-controller='TaskEditController'>	
    <div class="row panel">
        <div class="columns small-12 medium-4">
            Name:<input type="text" id="nameInput" ng-model="nameIn" value = "{{nameIn}}" autofocus>
            <br>
            Deadline:<!--<input type="datetime" id="deadlineInput" ng-model="deadlineIn" value="{{deadlineIn}}">-->
            <datepicker>
                <input id="deadlineInput" ng-model="deadlineIn" value="{{deadlineIn}}" type="text"/>
            </datepicker>
            <br>
            Description:<input type="text" id="descriptionInput" ng-model="descriptionIn" value="{{descriptionIn}}">
            <br>
            AssignedUser:<!--<input type="text" id="assignedUserInput" ng-model="assignedUserIn" value="{{assignedUserIn}}">-->
                <select ng-model="selectUser">
                    <option ng-repeat="opt in userList" value= {{opt}}>{{opt.name}}</option>
                </select>
            <br>
            Completed:<!--<input type="text" id="completedInput" ng-model="completedIn" placeholder="{{completedIn}}">-->
            <input type="radio" ng-model="completedIn" value=false> NO
            <input type="radio" ng-model="completedIn" value=true> YES
        </div>
        <div class="tw columns small-12 medium-4">
            <p>
                Preview Updated Task: <br><br>
                Name: {{nameIn}} <br><br>
                Deadline: {{deadlineIn}} <br><br>
                Description: {{descriptionIn}} <br><br>
                AssignedUser: {{option}} <br><br>
                Completed: {{completedIn}} <br><br>
            <p>
        <!--<datepicker>
            <input ng-model="date" type="text">
        </datepicker>-->
        </div>
        <div class="columns small-12 medium-4">
            <a ng-click = "edit(task)", class = "button">Submit Task</a>
        </div>
    </div>
</div>