<div class="list" ng-controller='UserDetailController'>	
    <div class='row even' style="margin-top:10px">
        <div class='columns small-6 medium-8'>
            <p>
                {{user.name}} <br>
                {{user.email}}
            </p>
        </div>
        <div class='columns small-6 medium-4'>
            <a ng-click = "showCompletedTaskF()" class = "button right" >Completed Tasks</a>
        </div>
    </div>
    <div class='row' style="margin-top:10px">
        <div class='columns small-8 medium-9 white'>
            <!--<ul>
               <li ng-repeat="ptask in user.pendingTasks" ng-class-odd="'odd'" ng-class-even="'even'" ng-init="getTaskByID(ptask)">
                    <div class="row">
                        <div class='columns small-9 medium-9'>
                            <p>
                                {{ptask}} <br>
                                {{task}} <br>
                            </p>
                        </div>
                        <div class='columns small-3 medium-3'>
                            <a ng-click = "delete(user)", class = "button tiny alert right">Delete</a>
                        </div>
                    </div>
                </li>
                
                </ul>-->
            <ul>
                <li ng-repeat="pktask in taskList" ng-class-odd="'odd'" ng-class-even="'even'">
                    <div class="row" ng-controller='TaskListController' ng-hide="hideCompletedTasks && pktask.completed">
                        <div class='columns small-9 medium-9' ng-click="showDetail(pktask)">
                            <p>
                                {{pktask.name}} <br>
                            </p>
                        </div>
                        <div class='columns small-3 medium-3'>
                            <a ng-click = "completeTask(pktask)", class = "button tiny success right">Complete</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>