<div ng-controller='UserListController'>	
    <div class='row' style="margin-top:10px">
        <div class='columns small-8 medium-9'>
            <ul>
                <li ng-repeat="user in users" ng-class-odd="'odd'" ng-class-even="'even'" ng-click = "showDetail(user)">
                    <div class="row">
                        <div class='columns small-9 medium-9'>
                            <p>
                                Name: {{user.name}} <br>
                                Email: {{user.email}}
                            </p>
                        </div>
                        <div class='columns small-3 medium-3'>
                            <a ng-click = "delete(user)", class = "button tiny alert right">Delete</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class='columns small-3 medium-3'>
            <div class="editorAccessor">
                <a  href="#/useredit", class = "button left">Add User</a>
            </div>
        </div>
    </div>
</div>